
#bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.logoblock {
position: relative;
width: 331px;
height: 113px;
left: 112px;
background: #EDF8FF;
border-radius: 40px;
}

.imglogo {
    position: relative;
  padding: 44px 80px 44px 80px;
}

.block1 {
position: relative;
width: 636px;
height: 113px;
left: 809px;
right: 112px;
background: #EDF8FF;
border-radius: 40px;
}

.container1 {
  margin-top: 60px;
  display: flex;
}

h1 {
  position: relative;
  left: 112px;
  top: 55px;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  color: #EDF8FF;
}

h2 {
  width: 59px;
  padding: 40px 654px 0px 80px;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #313F86;

}

.p1 {
width: 476px;
height: 33px;
padding: 40px 80px 40px 80px;
font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 24px;
color: #313F86;
}

.p2 {
  width: 633px;
  padding: 5px 80px 50px 80px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  color: #313F86;
}

.div1{
  margin-top: 130px;
  margin-left: 112px;
  display: flex;
}

.plashkaanima {
  display: flex;
  justify-content: flex-start;
}

.plashka1{
position: relative;
width: 793px;
height: 153px;
background: #EDF8FF;
border-radius: 50px;
}

.anima1 {
position: relative;
width: 396px;
height: 274px;
top: 20px;
background: #313F86;
border: 2px solid #EDF8FF;
box-sizing: border-box;
border-radius: 60px;
}

.mashroom {
width: 290px;
height: 177px;
margin-left: 53px;
margin-top: 49px;
display: block;
background: url('../img/mashroom.svg');
}

.stars{
  display: flex;
  position: relative;
  width: 700px;
  height: 550px;
  margin-left: 190px;
}
.star1 {
width: 85px;
height: 85px;
left: 20px;
top: 13px;
display: block;
background: url('../img/star 1.svg');
}


.star2 {
width: 72px;
height: 72px;
margin-top: 437px;
display: block;
background: url('../img/star 2.svg');
animation: star2 8s linear infinite;
}

@keyframes star2 {
0% {transform: rotate(0deg) scale(1);}
50% {transform: rotate(-50deg) scale(2);}
100% {transform: rotate(0deg) scale(1);}
}

.star3 {
width: 69px;
height: 62px;
margin-left: 80px;
margin-top: 105px;
display: block;
background: url('../img/star 3.svg');
animation: star3 8s linear infinite;
}

@keyframes star3 {
0% {transform:rotate(0deg);}
100% {transform:rotate(360deg);}
}

.star4 {
width: 65px;
height: 63px;
margin-left: 75px;
margin-top: 275px;
display: block;
background: url('../img/star 4.svg');
}

.star5 {
width: 88px;
height: 98px;
margin-left: 108px;
margin-top: 458px;
display: block;
background: url('../img/star 5.svg');
}

.star6 {
width: 39px;
height: 40px;
margin-top: 22px;
display: block;
background: url('../img/star 6.svg');
animation: star6 5s linear infinite;
}


@keyframes star6 {
0% {transform: rotate(0deg) scale(1);}
50% {transform: rotate(50deg) scale(2);}
100% {transform: rotate(0deg) scale(1);}
}
