
#bg {
  position:absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.logoblock {
  position: relative;
  width: 331px;
  height: 113px;
  left: 112px;
  background: #EDF8FF;
  border-radius: 40px;
}

.imglogo {
    position: relative;
    padding: 44px 80px 44px 80px;
}

.block1 {
  position: relative;
  width: 636px;
  height: 113px;
  left: 809px;
  right: 112px;
  background: #EDF8FF;
  border-radius: 40px;
}

.container1 {
  margin-top: 60px;
  display: flex;
}

h1 {
  position: relative;
  left: 112px;
  top: 55px;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  color: #EDF8FF;
}

h2 {
  width: 59px;
  padding: 40px 654px 0px 80px;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #313F86;

}

.p1 {
  width: 476px;
  height: 33px;
  padding: 47px 80px 40px 80px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #313F86;
}

.p2 {
  width: 633px;
  padding: 14px 80px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #313F86;
}

.p3 {
  width: 716px;
  padding: 14px 80px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #313F86;
}

.p4 {
  width: 556px;
  padding: 14px 80px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #313F86;
}

.div1{
  margin-top: 130px;
  margin-left: 112px;
  display: flex;
}

.div2{
  margin-top: 20px;
  margin-left: 112px;
  display: flex;
  justify-content: space-between;
}

.div3 {
  margin-top: 20px;
  margin-left: 112px;
  display: flex;
}

.plashkaanima {
  display: flex;
  justify-content: flex-start;
}

.plashka1{
  position: relative;
  width: 793px;
  height: 153px;
  background: #EDF8FF;
  border-radius: 50px;
}

.plashka2{
  position: relative;
  width: 716px;
  height: 153px;
  margin-top: 100px;
  margin-left: 112px;
  background: #EDF8FF;
  border-radius: 50px;
}

.plashka3 {
  position: relative;
  width: 686px;
  height: 153px;
  margin-left: 112px;
  margin-top: 100px;
  background: #EDF8FF;
  border-radius: 50px;
}

.anima1 {
  position: relative;
  width: 396px;
  height: 274px;
  top: 20px;
  background: #313F86;
  border: 2px solid #EDF8FF;
  border-radius: 50px;
}

.mashroom {
  background: url('../img/mashroom.svg');
  width: 290px;
  height: 177px;
  margin-left: 53px;
  margin-top: 49px;
  display: block;
}

.frame {
  position: relative;
  overflow: hidden;
  width: 1280px;
  height: 568px;
  background: #313F86;
  border: 2px solid #EDF8FF;
  border-radius: 50px;
}

.bear {
  background: url('../img/bear.svg');
  width: 153px;
  height: 92px;
  position: relative;
  display: block;
  animation: walk 2s steps(1)  infinite;
}

.path{
  width: 153px;
  height: 92px;
  display: block;
  position: absolute;
  top: 300px;
  animation: path 15s linear infinite;
}

@keyframes path {
  0%{left: -306px; top; transform: scale(3);}
  25%{left: 20%; top: 300px;}
  50%{left: 50%; top: 300px;}
  100%{left: 120%;transform: scale(3);}
}

@keyframes walk {
  0%{background-position:   0px 0px; transform: scale(1);}
  5%{background-position:  -153px 0px;}
  11% {background-position:  -306px 0px;}
  16% {background-position:  -459px 0px;}

  21% {background-position:   0px -92px;}
  28% {background-position:  -153px -92px;}
  34% {background-position:  -306px -92px;}
  40% {background-position:  -459px -92px;}

  46%{background-position:   0px -184px;}
  52%{background-position:  -153px -184px;}
  60% {background-position:  -306px -184px;}
  65% {background-position:  -459px -184px;}

  70% {background-position:   0px -276px;}
  75% {background-position:  -153px -276px;}
  80% {background-position:  -306px -276px;}
  85% {background-position:  -459px -276px;}

  90% {background-position:  0px -368px;}
  95% {background-position:  -153px -368px;}
  100% {background-position:  -306px -368px;}
}

.adventure {
  display: flex;
  flex-flow: column;
  margin-right: 112px;
}

.bobricplashka {
  position: relative;
  width: 396px;
  height: 274px;
  margin-left: 20px;
  background: #313F86;
  border: 2px solid #EDF8FF;
  border-radius: 50px;
}

.bobric {
  background: url('../img/bobric.svg');
  width: 248px;
  height: 236px;
  position: relative;
  margin-left: 54px;
  margin-top: 24px;
}

.goldcaseplashka {
  position: relative;
  width: 396px;
  height: 274px;
  margin-left: 20px;
  margin-top: 20px;
  background: #313F86;
  border: 2px solid #EDF8FF;
  border-radius: 50px;
}

.goldcase {
  background: url('../img/case.svg');
  width: 241px;
  height: 169px;
  position: relative;
  margin-left: 77px;
  margin-top: 60px;
}

.water {
  display: flex;
  flex-flow: column;
}

.plashkaballs {
  position: relative;
  width: 396px;
  height: 274px;
  background: #313F86;
  border: 2px solid #EDF8FF;
  border-radius: 50px;
}

.plashkaplant {
  position: relative;
  margin-top: 20px;
  width: 396px;
  height: 274px;
  background: #313F86;
  border: 2px solid #EDF8FF;
  border-radius: 50px;
}

.fishes {
  position: relative;
  overflow: hidden;
  width: 1280px;
  height: 568px;
  margin-left: 20px;
  background: #313F86;
  border: 2px solid #EDF8FF;
  border-radius: 50px;
}
