
#bg {
  position:absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.logoblock {
  position: relative;
  width: 331px;
  height: 113px;
  left: 112px;
  background: #EDF8FF;
  border-radius: 40px;
}

.imglogo {
    position: relative;
    padding: 44px 80px 44px 80px;
}

.block1 {
  position: relative;
  width: 636px;
  height: 113px;
  left: 809px;
  right: 112px;
  background: #EDF8FF;
  border-radius: 40px;
}

.container1 {
  margin-top: 60px;
  display: flex;
}

h1 {
  position: relative;
  width: 800px;
  left: 112px;
  top: 55px;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  color: #EDF8FF;
}

h2 {
  width: 59px;
  padding: 40px 654px 0px 80px;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #313F86;

}

.p1 {
  width: 476px;
  height: 33px;
  padding: 47px 80px 40px 80px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #313F86;
}

.p2 {
  width: 633px;
  margin-top: 14px;
  margin-left: 80px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #313F86;
}

.p3 {
  width: 716px;
  padding: 14px 80px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #313F86;
}

.p4 {
  width: 556px;
  margin-top: 14px;
  margin-left: 80px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #313F86;
}



.p5 {
  width: 602px;
  margin-top: 14px;
  margin-left: 80px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #313F86;
}

.p5 {
  width: 600px;
  margin-top: 14px;
  margin-left: 80px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #313F86;
}

.p6 {
  width: 600px;
  margin-top: 14px;
  margin-left: 80px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #313F86;
}

.p7 {
  width: 600px;
  margin-top: 14px;
  margin-left: 80px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #313F86;
}

.p8 {
  width: 721px;
  margin-top: 14px;
  margin-left: 80px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #313F86;
}

.p9 {
  width: 759px;
  margin-top: 14px;
  margin-left: 80px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #313F86;
}

.p10 {
  width: 671px;
  margin-top: 14px;
  margin-left: 80px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #313F86;
}

.div1{
  margin-top: 130px;
  margin-left: 112px;
  display: flex;
}

.div2{
  margin-top: 20px;
  margin-left: 112px;
  display: flex;
  justify-content: space-between;
}

.div3 {
  margin-top: 20px;
  margin-left: 112px;
  display: flex;
}

.div4{
  margin-top: 108px;
  margin-left: 112px;
  display: flex;
  justify-content: space-between;
}

.div5 {
  margin-top: 100px;
  margin-left: 112px;
  display: flex;
  justify-content: space-between;
}

.div6 {
  overflow-x: hidden;
  width: 100%;
  margin-top: 150px;
}


.plashkaanima {
  display: flex;
  justify-content: flex-start;
}

.plashka1{
  position: relative;
  width: 793px;
  height: 153px;
  background: #EDF8FF;
  border-radius: 50px;
}

.plashka2{
  position: relative;
  width: 716px;
  height: 153px;
  margin-top: 100px;
  margin-left: 112px;
  background: #EDF8FF;
  border-radius: 50px;
}

.plashka3 {
  position: relative;
  width: 686px;
  height: 153px;
  margin-left: 112px;
  margin-top: 100px;
  background: #EDF8FF;
  border-radius: 50px;
}

.plashka4 {
  position: relative;
  width: 762px;
  height: 153px;
  margin-right: 112px;
  background: #EDF8FF;
  border-radius: 50px;
}

.plashka5 {
  position: relative;
  width: 762px;
  height: 153px;
  background: #EDF8FF;
  border-radius: 50px;
}

.plashka6 {
  position: relative;
  width: 724px;
  height: 153px;
  background: #EDF8FF;
  border-radius: 50px;
}

.plashka7 {
  position: relative;
  width: 881px;
  height: 153px;
  background: #EDF8FF;
  border-radius: 50px;
}

.plashka8 {
  position: relative;
  width: 919px;
  height: 153px;
  background: #EDF8FF;
  border-radius: 50px;
}

.plashka9 {
  position: relative;
  width: 831px;
  height: 153px;
  background: #EDF8FF;
  border-radius: 50px;
}


.anima1 {
  position: relative;
  width: 396px;
  height: 274px;
  top: 20px;
  background: #313F86;
  border: 2px solid #EDF8FF;
  border-radius: 50px;
}

.mashroom {
  background: url('../img/mashroom.svg');
  width: 290px;
  height: 177px;
  margin-left: 53px;
  margin-top: 49px;
  display: block;
}

.frame {
  position: relative;
  overflow: hidden;
  width: 1280px;
  height: 568px;
  background: #313F86;
  border: 2px solid #EDF8FF;
  border-radius: 50px;
}

.bear {
  background: url('../img/bear.svg');
  width: 153px;
  height: 92px;
  position: relative;
  display: block;
  animation: walk 2s steps(1)  infinite;
}

.path{
  width: 153px;
  height: 92px;
  display: block;
  position: absolute;
  top: 300px;
  animation: path 15s linear infinite;
}

@keyframes path {
  0%{left: -306px; top; transform: scale(300%);}
  25%{left: 20%; top: 300px;}
  50%{left: 50%; top: 300px;}
  100%{left: 120%;transform: scale(300%);}
}

@keyframes walk {
  0%{background-position:   0px 0px; transform: scale(100%);}
  5%{background-position:  -153px 0px;}
  11% {background-position:  -306px 0px;}
  16% {background-position:  -459px 0px;}

  21% {background-position:   0px -92px;}
  28% {background-position:  -153px -92px;}
  34% {background-position:  -306px -92px;}
  40% {background-position:  -459px -92px;}

  46%{background-position:   0px -184px;}
  52%{background-position:  -153px -184px;}
  60% {background-position:  -306px -184px;}
  65% {background-position:  -459px -184px;}

  70% {background-position:   0px -276px;}
  75% {background-position:  -153px -276px;}
  80% {background-position:  -306px -276px;}
  85% {background-position:  -459px -276px;}

  90% {background-position:  0px -368px;}
  95% {background-position:  -153px -368px;}
  100% {background-position:  -306px -368px;}
}

.adventure {
  display: flex;
  flex-flow: column;
  margin-right: 112px;
}

.bobricplashka {
  position: relative;
  width: 396px;
  height: 274px;
  margin-left: 20px;
  background: #313F86;
  border: 2px solid #EDF8FF;
  border-radius: 50px;
  overflow: hidden;
}

.bobric {
  background: url('../img/bobric.svg');
  width: 400px;
  height: 265px;
  position: relative;
  margin-left: -12px;
  margin-top: 7px;
  animation: bobric 2s steps(1) infinite;
}

@keyframes bobric {
  0%{background-position:   0px 0px;}
  4%{background-position:  -400px 0px;}
  8% {background-position:  -800px 0px;}
  12% {background-position:  -1200px 0px;}

  16%{background-position:   0px -265px;}
  20%{background-position:  -400px -265px;}
  24% {background-position:  -800px -265px;}
  28% {background-position:  -1200px -265px;}

  32%{background-position:   0px -530px;}
  36%{background-position:  -400px -530px;}
  40% {background-position:  -800px -530px;}
  44% {background-position:  -1200px -530px;}

  48%{background-position:   0px -795px;}
  52%{background-position:  -400px -795px;}
  56% {background-position:  -800px -795px;}
  60% {background-position:  -1200px -795px;}

  64%{background-position:   0px -1060px;}
  68%{background-position:  -400px -1060px;}
  72% {background-position:  -800px -1060px;}
  78% {background-position:  -1200px -1060px;}

  84%{background-position:   0px -1325px;}
  88%{background-position:  -400px -1325px;}
  95%{background-position:   -800px -1325px;}
  100%{background-position:  -1200px -1325px;}
}

.goldcaseplashka {
  position: relative;
  width: 396px;
  height: 274px;
  margin-left: 20px;
  margin-top: 20px;
  background: #313F86;
  border: 2px solid #EDF8FF;
  border-radius: 50px;
}

.goldcase {
  background: url('../img/case.svg');
  width: 241px;
  height: 169px;
  position: relative;
  margin-left: 77px;
  margin-top: 60px;
}

.water {
  display: flex;
  flex-flow: column;
}

.plashkaballs {
  position: relative;
  width: 396px;
  height: 274px;
  background: #313F86;
  border: 2px solid #EDF8FF;
  border-radius: 50px;
  overflow: hidden;
}

.plashkaplant {
  position: relative;
  margin-top: 20px;
  width: 396px;
  height: 274px;
  background: #313F86;
  border: 2px solid #EDF8FF;
  border-radius: 50px;
  overflow: hidden;
}

.fishes {
  position: relative;
  overflow: hidden;
  width: 1280px;
  height: 568px;
  margin-left: 20px;
  background: #313F86;
  border: 2px solid #EDF8FF;
  border-radius: 50px;
}

.fish1 {
  position: relative;
  display: block;
  width: 192px;
  height: 126px;
  background: url('../img/fish1.svg');
  animation: walkfish 2s steps(1) infinite;
}


@keyframes walkfish {
  0%{background-position:   0px 0px;}
  5%{background-position:  -192px 0px;}
  10% {background-position:  -384px 0px;}
  15% {background-position:  -576px 0px;}

  20%{background-position:   0px -126px;}
  24%{background-position:  -192px -126px;}
  28% {background-position:  -384px -126px;}
  30% {background-position:  -576px -126px;}

  35%{background-position:   0px -252px;}
  40%{background-position:  -192px -252px;}
  45% {background-position:  -384px -252px;}
  50% {background-position:  -576px -252px;}

  55%{background-position:   0px -378px;}
  60%{background-position:  -192px -378px;}
  65% {background-position:  -384px -378px;}
  70% {background-position:  -576px -378px;}

  75%{background-position:   0px -504px;}
  80%{background-position:  -192px -504px;}
  85% {background-position:  -384px -504px;}
  90% {background-position:  -576px -504px;}

  95%{background-position:   0px -630px;}
  100%{background-position:  -192px -630px;}
}

.pathfish{
  width: 192px;
  height: 126px;
  display: block;
  position: absolute;
  animation: pathfish 20s linear infinite;
}

@keyframes pathfish {
  0%{left: -306px; top: 150px; transform: scale(200%);}
  50%{left: 500px; top: 390px;}
  100%{left: 1250px; top: 300px;transform: scale(150%);}
}

.fish2 {
  position: relative;
  display: block;
  width: 192px;
  height: 126px;
  background: url('../img/fish2.svg');
  animation: walkfish2 2s steps(1) infinite;
}


@keyframes walkfish2 {
  0%{background-position:   0px 0px;}
  5%{background-position:  -192px 0px;}
  10% {background-position:  -384px 0px;}
  15% {background-position:  -576px 0px;}

  20%{background-position:   0px -126px;}
  24%{background-position:  -192px -126px;}
  28% {background-position:  -384px -126px;}
  30% {background-position:  -576px -126px;}

  35%{background-position:   0px -252px;}
  40%{background-position:  -192px -252px;}
  45% {background-position:  -384px -252px;}
  50% {background-position:  -576px -252px;}

  55%{background-position:   0px -378px;}
  60%{background-position:  -192px -378px;}
  65% {background-position:  -384px -378px;}
  70% {background-position:  -576px -378px;}

  75%{background-position:   0px -504px;}
  80%{background-position:  -192px -504px;}
  85% {background-position:  -384px -504px;}
  90% {background-position:  -576px -504px;}

  95%{background-position:   0px -630px;}
  100%{background-position:  -192px -630px;}
}

.pathfish2{
  width: 192px;
  height: 126px;
  display: block;
  position: absolute;
  animation: pathfish2 20s linear infinite;
}

@keyframes pathfish2 {
  0%{left: 1250px; top: 20px; transform: scale(100%);}
  50%{left: 250px; top: 100px;}
  100%{left: -500px; top: 350px;transform: scale(300%);}
}

.ball1 {
  position: relative;
  width: 38px;
  height: 38px;
  border: 3px solid #EDF8FF;
  border-radius: 100px;
  animation: ball1 15s linear infinite;
}

@keyframes ball1 {
  0% {left: 80px; top: 250px; transform: scale(10%);}
  25% {left: 70px; top: 100px; transform: scale(50%);}
  50% {left: 90px; top: 40px;}
  100% {left: 80px; top: -130px; transform: scale(100%);}
}

.ball2 {
  position: relative;
  width: 72px;
  height: 72px;
  border: 3px solid #EDF8FF;
  border-radius: 100px;
  animation: ball2 12s linear infinite;
}

@keyframes ball2 {
  0% {left: 160px; top: 400px; transform: scale(10%);}
  50% {left: 150px; top: 150px; transform: scale(50%);}
  100% {left: 160px; top: -130px; transform: scale(100%);}
}

.ball3 {
  position: relative;
  width: 26px;
  height: 26px;
  border: 3px solid #EDF8FF;
  background: #EDF7FE;
  border-radius: 100px;
  animation: ball3 10s linear infinite;
}

@keyframes ball3 {
  0% {left: 270px; top: 250px; transform: scale(100%);}
  25% {left: 280px; top: 100px;}
  50% {left: 265px; top: 40px;}
  100% {left: 270px; top: -160px; transform: scale(150%);}
}

.plant {
  background: url('../img/plant.svg');
  width: 400px;
  height: 265px;
  position: relative;
  margin-top: 20px;
  animation: plant 2s steps(1) infinite;
}

@keyframes plant {
  0%{background-position:   0px 0px;}
  4%{background-position:  -400px 0px;}
  8% {background-position:  -800px 0px;}
  12% {background-position:  -1200px 0px;}

  16%{background-position:   0px -265px;}
  20%{background-position:  -400px -265px;}
  24% {background-position:  -800px -265px;}
  28% {background-position:  -1200px -265px;}

  32%{background-position:   0px -530px;}
  36%{background-position:  -400px -530px;}
  40% {background-position:  -800px -530px;}
  44% {background-position:  -1200px -530px;}

  48%{background-position:   0px -795px;}
  52%{background-position:  -400px -795px;}
  56% {background-position:  -800px -795px;}
  60% {background-position:  -1200px -795px;}

  64%{background-position:   0px -1060px;}
  68%{background-position:  -400px -1060px;}
  72% {background-position:  -800px -1060px;}
  78% {background-position:  -1200px -1060px;}

  84%{background-position:   0px -1325px;}
  88%{background-position:  -400px -1325px;}
  95%{background-position:   -800px -1325px;}
  100%{background-position:  -1200px -1325px;}
}

.divgnom {
  display: flex;
  flex-flow: column;
}


.plashkagnom {
  position: relative;
  width: 274px;
  height: 396px;
  margin-top: 20px;
  margin-left: 488px;
  background: #313F86;
  border: 2px solid #EDF8FF;
  border-radius: 50px;
  overflow: hidden;
}

.gnom {
  background: url('../img/gnom.svg');
  width: 400px;
  height: 265px;
  margin-left: -60px;
  margin-top: 60px;
  transform: scale(120%);
  animation: gnom 2s steps(1) infinite;
}

@keyframes gnom {
  0%{background-position:   0px 0px;}
  4%{background-position:  -400px 0px;}
  8% {background-position:  -800px 0px;}
  12% {background-position:  -1200px 0px;}

  16%{background-position:   0px -265px;}
  20%{background-position:  -400px -265px;}
  24% {background-position:  -800px -265px;}
  28% {background-position:  -1200px -265px;}

  32%{background-position:   0px -530px;}
  36%{background-position:  -400px -530px;}
  40% {background-position:  -800px -530px;}
  44% {background-position:  -1200px -530px;}

  48%{background-position:   0px -795px;}
  52%{background-position:  -400px -795px;}
  56% {background-position:  -800px -795px;}
  60% {background-position:  -1200px -795px;}

  64%{background-position:   0px -1060px;}
  68%{background-position:  -400px -1060px;}
  72% {background-position:  -800px -1060px;}
  78% {background-position:  -1200px -1060px;}

  84%{background-position:   0px -1325px;}
  88%{background-position:  -400px -1325px;}
  95%{background-position:   -800px -1325px;}
  100%{background-position:  -1200px -1325px;}
}


.divbird {
  position: relative;
  width: 274px;
  height: 396px;
  margin-top: 20px;
  background: #313F86;
  border: 2px solid #EDF8FF;
  border-radius: 50px;
  overflow: hidden;
}

.plashkabird {
  display: flex;
  flex-flow: column;
}

.bird {
  background: url('../img/bird.svg');
  width: 400px;
  height: 260px;
  transform: scale(120%);
  margin-top: 65px;
  margin-left: -55px;
}

.plashkaanimatext {
  position: absolute;
  animation: text 15s linear infinite;
  display: flex;
}

@keyframes text {
  0% {left: 0px;}
  50% {left: -1435px;}
  100% {left: 0px;}
}
