@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* iPhone */
  .container1 {
    margin-top: 55px;
    flex-flow: column;
  }
  .logoblock{
    width: 331px;
    height: 113px;
    left: 112px;
    border-radius: 15px;
  }
}
