@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* iPhone */
  .linesncircles {
    margin-top: -120px;
  }

  .container1 {
    margin-top: 120px;
    flex-flow: column;
  }
  .logoblock {
    width: 566px;
    height: 127px;
    left: 112px;
    border-radius: 44px;
}
  .imglogo {
    transform: scale(180%);
    position: relative;
    padding: 50px 152px 43px 181px;
  }

  .block1 {
    width: 783px;
    height: 226px;
    left: 820px;
    right: 0px;
    border-radius: 40px;
}

.p1 {
    width: 565px;
    height: 33px;
    padding: 58px 0px 0px 112px;
    font-size: 54px;
}
}
