.stars{
  display: flex;
  position: relative;
  width: 700px;
  height: 550px;
  margin-left: 190px;
}

.stars2 {
  display: flex;
  position: relative;
  width: 1696px;
  height: 451px;
  margin-left: 112px;
  margin-top: 60px;
}

.star1 {
  background: url('../img/star 1.svg');
  width: 85px;
  height: 85px;
  left: 20px;
  top: 13px;
  display: block;
  animation: star1 8s linear infinite;
}

@keyframes star1 {
  0% {transform: rotate(0deg) scale(0.8);}
  50% {transform: rotate(35deg) scale(1);}
  100% {transform: rotate(0deg) scale(0.8);}
}


.star2 {
  background: url('../img/star 2.svg');
  width: 72px;
  height: 72px;
  margin-top: 437px;
  display: block;
  animation: star2 8s linear infinite;
}

@keyframes star2 {
  0% {transform: rotate(0deg) scale(1);}
  50% {transform: rotate(-50deg) scale(1.3);}
  100% {transform: rotate(0deg) scale(1);}
}

.star3 {
  background: url('../img/star 3.svg');
  width: 69px;
  height: 62px;
  margin-left: 80px;
  margin-top: 105px;
  display: block;
  animation: star3 8s linear infinite;
}

@keyframes star3 {
  0% {transform:rotate(0deg);}
  100% {transform:rotate(360deg);}
}

.star4 {
  background: url('../img/star 4.svg');
  width: 65px;
  height: 63px;
  margin-left: 75px;
  margin-top: 275px;
  display: block;
  animation: star4 30s linear infinite;
}

@keyframes star4 {
  0% {transform:rotate(0deg) scale(1);}
  50% {transform:rotate(-180deg) scale(1.5);}
  100% {transform:rotate(-360deg) scale(1);}
}

.star5 {
  background: url('../img/star 5.svg');
  width: 88px;
  height: 98px;
  margin-left: 108px;
  margin-top: 458px;
  display: block;
  animation: star5 10s linear infinite;
}

@keyframes star5 {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(35deg);}
  100% {transform: rotate(0deg);}
}

.star6 {
  background: url('../img/star 6.svg');
  width: 39px;
  height: 40px;
  margin-top: 22px;
  display: block;
  animation: star6 5s linear infinite;
}


@keyframes star6 {
  0% {transform: rotate(0deg) scale(1);}
  50% {transform: rotate(50deg) scale(2);}
  100% {transform: rotate(0deg) scale(1);}
}

.star7 {
  background: url('../img/star 7.svg');
  width: 68px;
  height: 62px;
  margin-top: 273px;
  display: block;
  animation: star7 10s linear infinite;
}

@keyframes star7 {
  0% {transform: rotate(0deg) scale(1);}
  50% {transform: rotate(180deg) scale(1.2);}
  100% {transform: rotate(360deg) scale(1);}
}

.star8 {
  background: url('../img/Star 8.svg');
  width: 67px;
  height: 66px;
  margin-left: 29px;
  margin-top: 53px;
  display: block;
  animation: star8 15s linear infinite;
}

@keyframes star8 {
  0% {transform: rotate(0deg) scale(1);}
  50% {transform: rotate(-180deg) scale(1.3);}
  100% {transform: rotate(-360deg) scale(1);}
}

.star9 {
  background: url('../img/Star 9.svg');
  width: 67px;
  height: 66px;
  margin-left: 71px;
  margin-top: 238px;
  display: block;
  animation: star9 20s linear infinite;
}

@keyframes star9 {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}

.star10 {
  background: url('../img/star 10.svg');
  width: 85px;
  height: 82px;
  margin-top: 94px;
  margin-left: 114px;
  display: block;
  animation: star10 10s linear infinite;
}

@keyframes star10 {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(-180deg);}
  100% {transform: rotate(-360deg);}
}

.star11 {
  background: url('../img/star 11.svg');
  width: 101px;
  height: 102px;
  margin-top: 297px;
  margin-left: 71px;
  display: block;
  animation: star11 10s linear infinite;
}

@keyframes star11 {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(90deg);}
  100% {transform: rotate(0deg);}
}

.star12 {
  background: url('../img/star 12.svg');
  width: 111px;
  height: 104px;
  margin-top: 27px;
  margin-left:11px
  display: block;
  animation: star12 20s linear infinite;
}

@keyframes star12 {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(-180deg);}
  100% {transform: rotate(0deg);}
}

.star13 {
  background: url('../img/star 13.svg');
  width: 98px;
  height: 95px;
  margin-top: 199px;
  margin-left: 120px;
  display: block;
  animation: star13 15s linear infinite;
}

@keyframes star13 {
  0% {transform: rotate(0deg) scale(1);}
  50% {transform: rotate(180deg) scale(1.2);}
  100% {transform: rotate(360deg) scale(1);}
}

.star14 {
  background: url('../img/star 14.svg');
  width: 139px;
  height: 123px;
  margin-top: 313px;
  margin-left: 130px;
  display: block;
  animation: star14 15s linear infinite;
}

@keyframes star14 {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(-180deg);}
  100% {transform: rotate(-360deg);}
}

.star15 {
  background: url('../img/star 15.svg');
  width: 99px;
  height: 95px;
  margin-top: 96px;
  margin-left: 110px;
  display: block;
  animation: star15 18s linear infinite;
}

@keyframes star15 {
  0% {transform: rotate(0deg) scale(0.5);}
  50% {transform: rotate(90deg)scale(1.2);}
  100% {transform: rotate(0deg)scale(0.5);}
}

.star16 {
  background: url('../img/star 16.svg');
  width: 95px;
  height: 93px;
  margin-top: 345px;
  margin-left: 134px;
  display: block;
  animation: star16 10s linear infinite;
}

@keyframes star16 {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}
