.stars{
  display: flex;
  position: relative;
  width: 700px;
  height: 550px;
  margin-left: 190px;
}

.stars2 {
  display: flex;
  position: relative;
  width: 1696px;
  height: 451px;
  margin-left: 112px;
  margin-top: 60px;
}

.stars3 {
  display: flex;
  position: relative;
  width: 830px;
  height: 680px;
}

.stars4{
  display: flex;
  position: relative;
  width: 850px;
  height: 680px;
  margin-right: 112px;
}

.star1 {
  background: url('../img/star1.svg');
  width: 85px;
  height: 85px;
  left: 20px;
  top: 13px;
  display: block;
  animation: star1 8s linear infinite;
}

@keyframes star1 {
  0% {transform: rotate(0deg) scale(80%);}
  50% {transform: rotate(35deg) scale(100%);}
  100% {transform: rotate(0deg) scale(80%);}
}


.star2 {
  background: url('../img/star2.svg');
  width: 72px;
  height: 72px;
  margin-top: 437px;
  display: block;
  animation: star2 8s linear infinite;
}

@keyframes star2 {
  0% {transform: rotate(0deg) scale(100%);}
  50% {transform: rotate(-50deg) scale(130%);}
  100% {transform: rotate(0deg) scale(100%);}
}

.star3 {
  background: url('../img/star3.svg');
  width: 69px;
  height: 62px;
  margin-left: 80px;
  margin-top: 105px;
  display: block;
  animation: star3 8s linear infinite;
}

@keyframes star3 {
  0% {transform:rotate(0deg);}
  100% {transform:rotate(360deg);}
}

.star4 {
  background: url('../img/star4.svg');
  width: 65px;
  height: 63px;
  margin-left: 75px;
  margin-top: 275px;
  display: block;
  animation: star4 30s linear infinite;
}

@keyframes star4 {
  0% {transform:rotate(0deg) scale(100%);}
  50% {transform:rotate(-180deg) scale(150%);}
  100% {transform:rotate(-360deg) scale(100%);}
}

.star5 {
  background: url('../img/star5.svg');
  width: 88px;
  height: 98px;
  margin-left: 108px;
  margin-top: 458px;
  display: block;
  animation: star5 10s linear infinite;
}

@keyframes star5 {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(35deg);}
  100% {transform: rotate(0deg);}
}

.star6 {
  background: url('../img/star6.svg');
  width: 39px;
  height: 40px;
  margin-top: 22px;
  display: block;
  animation: star6 5s linear infinite;
}


@keyframes star6 {
  0% {transform: rotate(0deg) scale(100%);}
  50% {transform: rotate(50deg) scale(200%);}
  100% {transform: rotate(0deg) scale(100%);}
}

.star7 {
  background: url('../img/star7.svg');
  width: 69px;
  height: 62px;
  margin-top: 273px;
  display: block;
  animation: star7 10s linear infinite;
}

@keyframes star7 {
  0% {transform: rotate(0deg) scale(100%);}
  50% {transform: rotate(180deg) scale(120%);}
  100% {transform: rotate(360deg) scale(100%);}
}

.star8 {
  background: url('../img/star8.svg');
  width: 68px;
  height: 66px;
  margin-left: 29px;
  margin-top: 53px;
  display: block;
  animation: star8 15s linear infinite;
}

@keyframes star8 {
  0% {transform: rotate(0deg) scale(100%);}
  50% {transform: rotate(-180deg) scale(130%);}
  100% {transform: rotate(-360deg) scale(100%);}
}

.star9 {
  background: url('../img/star9.svg');
  width: 69px;
  height: 67px;
  margin-left: 71px;
  margin-top: 238px;
  display: block;
  animation: star9 20s linear infinite;
}

@keyframes star9 {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}

.star10 {
  background: url('../img/star10.svg');
  width: 85px;
  height: 82px;
  margin-top: 94px;
  margin-left: 114px;
  display: block;
  animation: star10 10s linear infinite;
}

@keyframes star10 {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(-180deg);}
  100% {transform: rotate(-360deg);}
}

.star11 {
  background: url('../img/star11.svg');
  width: 101px;
  height: 102px;
  margin-top: 297px;
  margin-left: 71px;
  display: block;
  animation: star11 10s linear infinite;
}

@keyframes star11 {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(90deg);}
  100% {transform: rotate(0deg);}
}

.star12 {
  background: url('../img/star12.svg');
  width: 112px;
  height: 106px;
  margin-top: 27px;
  margin-left:11px
  display: block;
  animation: star12 20s linear infinite;
}

@keyframes star12 {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(-180deg);}
  100% {transform: rotate(0deg);}
}

.star13 {
  background: url('../img/star13.svg');
  width: 98px;
  height: 95px;
  margin-top: 199px;
  margin-left: 120px;
  display: block;
  animation: star13 15s linear infinite;
}

@keyframes star13 {
  0% {transform: rotate(0deg) scale(100%);}
  50% {transform: rotate(180deg) scale(120%);}
  100% {transform: rotate(360deg) scale(100%);}
}

.star14 {
  background: url('../img/star14.svg');
  width: 139px;
  height: 123px;
  margin-top: 313px;
  margin-left: 130px;
  display: block;
  animation: star14 15s linear infinite;
}

@keyframes star14 {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(-180deg);}
  100% {transform: rotate(-360deg);}
}

.star15 {
  background: url('../img/star15.svg');
  width: 99px;
  height: 95px;
  margin-top: 96px;
  margin-left: 110px;
  display: block;
  animation: star15 18s linear infinite;
}

@keyframes star15 {
  0% {transform: rotate(0deg) scale(50%);}
  50% {transform: rotate(90deg)scale(120%);}
  100% {transform: rotate(0deg)scale(50%);}
}

.star16 {
  background: url('../img/star16.svg');
  width: 95px;
  height: 93px;
  margin-top: 345px;
  margin-left: 134px;
  display: block;
  animation: star16 10s linear infinite;
}

@keyframes star16 {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}
.star17{
  background: url('../img/star17.svg');
  width: 37px;
  height: 40px;
  margin-top: 593px;
  display: block;
  animation: star17 10s linear infinite;
}

.star18{
  background: url('../img/star18.svg');
  width: 123px;
  height: 113px;
  margin-top: 35px;
  display: block;
  animation: star18 10s linear infinite;
}

.star19{
background: url('../img/star19.svg');
width: 56px;
height: 56px;
margin-top: 477px;
display: block;
animation: star19 10s linear infinite;}

.star20{
  background: url('../img/star20.svg');
  width: 63px;
  height: 60px;
  margin-top: 134px;
  margin-left: 80px;
  display: block;
  animation: star20 10s linear infinite;
}

.star21{
  background: url('../img/star21.svg');
  width: 71px;
  height: 73px;
  margin-top: 592px;
  margin-left: 10px;
  display: block;
  animation: star21 10s linear infinite;
}

.star22{
  background: url('../img/star22.svg');
  width: 73px;
  height: 70px;
  margin-top: 300px;
  margin-left: 12px;
  display: block;
  animation: star22 10s linear infinite;
}
.star23{
  background: url('../img/star23.svg');
  width: 48px;
  height: 46px;
  margin-top: 214px;
  margin-left: 100px;
  display: block;
  animation: star23 10s linear infinite;
}

.star24{
  background: url('../img/star24.svg');
  width: 107px;
  height: 107px;
  margin-top: 492px;
  display: block;
  animation: star24 10s linear infinite;
}

.star25{
  background: url('../img/star25.svg');
  width: 48px;
  height: 49px;
  display: block;
  animation: star25 10s linear infinite;
}

.star26{
  background: url('../img/star26.svg');
  width: 45px;
  height: 44px;
  margin-top: 155px;
  display: block;
  animation: star26 10s linear infinite;
}

.star27{
  background: url('../img/star27.svg');
  width: 124px;
  height: 114px;
  margin-top: 567px;
  display: block;
  animation: star27 10s linear infinite;
}

.star28{
  background: url('../img/star28.svg');
  width: 54px;
  height: 57px;
  margin-top: 242px;
  margin-left: 100px;
  display: block;
  animation: star28 10s linear infinite;
}

.star29{
  background: url('../img/star29.svg');
  width: 63px;
  height: 60px;
  margin-top: 587px;
  display: block;
  animation: star29 10s linear infinite;
}

.star30{
  background: url('../img/star30.svg');
  width: 70px;
  height: 74px;
  display: block;
  animation: star28 10s linear infinite;
}

.star31{
  background: url('../img/star31.svg');
  width: 47px;
  height: 47px;
  margin-top: 515px;
  margin-left: 195px;
  display: block;
  animation: star29 10s linear infinite;
}

.star32{
  background: url('../img/star32.svg');
  width: 106.5px;
  height: 108px;
  margin-top: 160px;
  display: block;
  animation: star29 10s linear infinite;
}

.star33{
  background: url('../img/star33.svg');
  width: 48px;
  height: 50px;
  margin-top: 587px;
  display: block;
  animation: star29 10s linear infinite;
}
