.stars{
  display: flex;
  position: relative;
  width: 700px;
  height: 550px;
  margin-left: 185px;
}

.stars2 {
  display: flex;
  position: relative;
  width: 1696px;
  height: 451px;
  margin-left: 110px;
  margin-top: 60px;
}

.forstars2{
  width: 100%;
  overflow: hidden;
}
.stars3 {
  display: flex;
  position: relative;
  width: 830px;
  height: 680px;
}

.stars4{
  display: flex;
  position: relative;
  width: 850px;
  height: 680px;
  margin-right: 112px;
}

.star1 {
  background: url('../img/star1.svg') no-repeat;
  width: 88px;
  height: 88px;
  left: 20px;
  top: 13px;
  display: block;
  animation: star1 8s linear infinite;
  animation-play-state: paused;
}

.star1:hover {
animation-play-state: running;
}

@keyframes star1 {
  0% {transform: rotate(0deg) scale(80%);}
  50% {transform: rotate(35deg) scale(100%);}
  100% {transform: rotate(0deg) scale(80%);}
}


.star2 {
  background: url('../img/star2.svg')no-repeat;
  width: 75px;
  height: 75px;
  margin-top: 437px;
  display: block;
  animation: star2 8s linear infinite;
  animation-play-state: paused;
  }

  .star2:hover {
  animation-play-state: running;
  }

@keyframes star2 {
  0% {transform: rotate(0deg) scale(100%);}
  50% {transform: rotate(-50deg) scale(130%);}
  100% {transform: rotate(0deg) scale(100%);}
}

.star3 {
  background: url('../img/star3.svg')no-repeat;
  width: 72px;
  height: 65px;
  margin-left: 75px;
  margin-top: 105px;
  display: block;
  animation: star3 8s linear infinite;
  animation-play-state: paused;
  }

  .star3:hover {
  animation-play-state: running;
  }

@keyframes star3 {
  0% {transform:rotate(0deg);}
  100% {transform:rotate(360deg);}
}

.star4 {
  background: url('../img/star4.svg')no-repeat;
  width: 68px;
  height: 66px;
  margin-left: 70px;
  margin-top: 275px;
  display: block;
  animation: star4 30s linear infinite;
  animation-play-state: paused;
  }

  .star4:hover {
  animation-play-state: running;
  }

@keyframes star4 {
  0% {transform:rotate(0deg) scale(100%);}
  50% {transform:rotate(-180deg) scale(150%);}
  100% {transform:rotate(-360deg) scale(100%);}
}

.star5 {
  background: url('../img/star5.svg')no-repeat;
  width: 90px;
  height: 100px;
  margin-left: 100px;
  margin-top: 458px;
  display: block;
  animation: star5 10s linear infinite;
  animation-play-state: paused;
  }

  .star5:hover {
  animation-play-state: running;
  }

@keyframes star5 {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(35deg);}
  100% {transform: rotate(0deg);}
}

.star6 {
  background: url('../img/star6.svg')no-repeat;
  width: 42px;
  height: 42px;
  margin-top: 22px;
  display: block;
  animation: star6 5s linear infinite;
  animation-play-state: paused;
  }

  .star6:hover {
  animation-play-state: running;
  }


@keyframes star6 {
  0% {transform: rotate(0deg) scale(100%);}
  50% {transform: rotate(50deg) scale(200%);}
  100% {transform: rotate(0deg) scale(100%);}
}

.star7 {
  background: url('../img/star7.svg')no-repeat;
  width: 70px;
  height: 70px;
  margin-top: 273px;
  display: block;
  animation: star7 10s linear infinite;
  animation-play-state: paused;
  }

  .star7:hover {
  animation-play-state: running;
  }

@keyframes star7 {
  0% {transform: rotate(0deg) scale(100%);}
  50% {transform: rotate(180deg) scale(120%);}
  100% {transform: rotate(360deg) scale(100%);}
}

.star8 {
  background: url('../img/star8.svg')no-repeat;
  width: 70px;
  height: 70px;
  margin-left: 25px;
  margin-top: 53px;
  display: block;
  animation: star8 15s linear infinite;
  animation-play-state: paused;
  }

  .star8:hover {
  animation-play-state: running;
  }

@keyframes star8 {
  0% {transform: rotate(0deg) scale(100%);}
  50% {transform: rotate(-180deg) scale(130%);}
  100% {transform: rotate(-360deg) scale(100%);}
}

.star9 {
  background: url('../img/star9.svg')no-repeat;
  width: 72px;
  height: 70px;
  margin-left: 65px;
  margin-top: 238px;
  display: block;
  animation: star9 20s linear infinite;
  animation-play-state: paused;
  }

  .star9:hover {
  animation-play-state: running;
  }

@keyframes star9 {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}

.star10 {
  background: url('../img/star10.svg')no-repeat;
  width: 88px;
  height: 85px;
  margin-top: 94px;
  margin-left: 110px;
  display: block;
  animation: star10 10s linear infinite;
  animation-play-state: paused;
  }

  .star10:hover {
  animation-play-state: running;
  }

@keyframes star10 {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(-180deg);}
  100% {transform: rotate(-360deg);}
}

.star11 {
  background: url('../img/star11.svg')no-repeat;
  width: 106px;
  height: 106px;
  margin-top: 297px;
  margin-left: 65px;
  display: block;
  animation: star11 10s linear infinite;
  animation-play-state: paused;
  }

  .star11:hover {
  animation-play-state: running;
  }

@keyframes star11 {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(90deg);}
  100% {transform: rotate(0deg);}
}

.star12 {
  background: url('../img/star12.svg')no-repeat;
  width: 115px;
  height: 109px;
  margin-top: 27px;
  margin-left:10px;
  display: block;
  animation: star12 20s linear infinite;
  animation-play-state: paused;
  }

  .star12:hover {
  animation-play-state: running;
  }

@keyframes star12 {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(-180deg);}
  100% {transform: rotate(0deg);}
}

.star13 {
  background: url('../img/star13.svg')no-repeat;
  width: 102px;
  height: 100px;
  margin-top: 199px;
  margin-left: 115px;
  display: block;
  animation: star13 15s linear infinite;
  animation-play-state: paused;
  }

  .star13:hover {
  animation-play-state: running;
  }

@keyframes star13 {
  0% {transform: rotate(0deg) scale(100%);}
  50% {transform: rotate(180deg) scale(120%);}
  100% {transform: rotate(360deg) scale(100%);}
}

.star14 {
  background: url('../img/star14.svg')no-repeat;
  width: 142px;
  height: 130px;
  margin-top: 313px;
  margin-left: 125px;
  display: block;
  animation: star14 15s linear infinite;
  animation-play-state: paused;
  }

  .star14:hover {
  animation-play-state: running;
  }

@keyframes star14 {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(-180deg);}
  100% {transform: rotate(-360deg);}
}

.star15 {
  background: url('../img/star15.svg')no-repeat;
  width: 105px;
  height: 100px;
  margin-top: 96px;
  margin-left: 105px;
  display: block;
  animation: star15 18s linear infinite;
  animation-play-state: paused;
  }

  .star15:hover {
  animation-play-state: running;
  }

@keyframes star15 {
  0% {transform: rotate(0deg) scale(50%);}
  50% {transform: rotate(90deg)scale(120%);}
  100% {transform: rotate(0deg)scale(50%);}
}

.star16 {
  background: url('../img/star16.svg')no-repeat;
  width: 98px;
  height: 98px;
  margin-top: 345px;
  margin-left: 100px;
  display: block;
  animation: star16 10s linear infinite;
  animation-play-state: paused;
  }

  .star16:hover {
  animation-play-state: running;
  }

@keyframes star16 {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}
.star17{
  background: url('../img/star17.svg')no-repeat;
  width: 40px;
  height: 43px;
  margin-top: 593px;
  display: block;
  animation: star17 10s linear infinite;
  animation-play-state: paused;
  }

  .star17:hover {
  animation-play-state: running;
  }

  @keyframes star17 {
    0% {transform: rotate(0deg) scale(100%);}
    50% {transform: rotate(180deg) scale(200%);}
    100% {transform: rotate(360deg) scale(100%);}
  }

.star18{
  background: url('../img/star18.svg')no-repeat;
  width: 125px;
  height: 115px;
  margin-top: 35px;
  display: block;
  animation: star18 10s linear infinite;
  animation-play-state: paused;
  }

  .star18:hover {
  animation-play-state: running;
  }

  @keyframes star18 {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
  }

  .star19{
  background: url('../img/star19.svg')no-repeat;
  width: 60px;
  height: 60px;
  margin-top: 477px;
  display: block;
  animation: star19 10s linear infinite;
  animation-play-state: paused;
  }

  .star19:hover {
  animation-play-state: running;
  }

  @keyframes star19 {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
  }

.star20{
  background: url('../img/star20.svg')no-repeat;
  width: 65px;
  height: 65px;
  margin-top: 134px;
  margin-left: 75px;
  display: block;
  animation: star20 10s linear infinite;
  animation-play-state: paused;
  }

  .star20:hover {
  animation-play-state: running;
  }

@keyframes star20 {
  0% {transform: rotate(0deg) scale(100%);}
  50% {transform: rotate(-180deg) scale(130%);}
  100% {transform: rotate(-360deg) scale(100%);}
}

.star21{
  background: url('../img/star21.svg')no-repeat;
  width: 75px;
  height: 75px;
  margin-top: 592px;
  margin-left: 10px;
  display: block;
  animation: star21 10s linear infinite;
  animation-play-state: paused;
  }

  .star21:hover {
  animation-play-state: running;
  }

  @keyframes star21 {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(35deg);}
    100% {transform: rotate(0deg);}
  }


.star22{
  background: url('../img/star22.svg')no-repeat;
  width: 75px;
  height: 75px;
  margin-top: 300px;
  margin-left: 10px;
  display: block;
  animation: star22 10s linear infinite;
  animation-play-state: paused;
  }

  .star22:hover {
  animation-play-state: running;
  }

  @keyframes star22 {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(-180deg);}
    100% {transform: rotate(0deg);}
  }

.star23{
  background: url('../img/star23.svg')no-repeat;
  width: 50px;
  height: 50px;
  margin-top: 214px;
  margin-left: 95px;
  display: block;
  animation: star23 10s linear infinite;
  animation-play-state: paused;
  }

  .star23:hover {
  animation-play-state: running;
  }

  @keyframes star23 {
    0% {transform: rotate(0deg) scale(100%);}
    50% {transform: rotate(180deg) scale(150%);}
    100% {transform: rotate(360deg) scale(100%);}
  }

.star24{
  background: url('../img/star24.svg')no-repeat;
  width: 110px;
  height: 110px;
  margin-top: 492px;
  display: block;
  animation: star24 10s linear infinite;
  animation-play-state: paused;
  }

  .star24:hover {
  animation-play-state: running;
  }

  @keyframes star24 {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(-180deg);}
    100% {transform: rotate(-360deg);}
  }

.star25{
  background: url('../img/star25.svg')no-repeat;
  width: 50px;
  height: 52px;
  display: block;
  animation: star25 10s linear infinite;
  animation-play-state: paused;
  }

  .star25:hover {
  animation-play-state: running;
  }

  @keyframes star25 {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
  }

.star26{
  background: url('../img/star26.svg')no-repeat;
  width: 50px;
  height: 50px;
  margin-top: 155px;
  display: block;
  animation: star26 10s linear infinite;
  animation-play-state: paused;
  }

  .star26:hover {
  animation-play-state: running;
  }

  @keyframes star26 {
  0% {transform: rotate(0deg) scale(100%);}
  50% {transform: rotate(-180deg) scale(130%);}
  100% {transform: rotate(-360deg) scale(100%);}
}

.star27{
  background: url('../img/star27.svg')no-repeat;
  width: 129px;
  height: 118px;
  margin-top: 567px;
  display: block;
  animation: star27 10s linear infinite;
  animation-play-state: paused;
  }

  .star27:hover {
  animation-play-state: running;
  }

  @keyframes star27 {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(50deg);}
    100% {transform: rotate(0deg);}
  }

.star28{
  background: url('../img/star28.svg')no-repeat;
  width: 58px;
  height: 60px;
  margin-top: 242px;
  margin-left: 85px;
  display: block;
  animation: star28 10s linear infinite;
  animation-play-state: paused;
  }

  .star28:hover {
  animation-play-state: running;
  }

  @keyframes star28 {
    0% {transform: rotate(0deg) scale(80%);}
    50% {transform: rotate(35deg) scale(100%);}
    100% {transform: rotate(0deg) scale(80%);}
  }

.star29{
  background: url('../img/star29.svg')no-repeat;
  width: 66px;
  height: 63px;
  margin-top: 587px;
  display: block;
  animation: star29 10s linear infinite;
  animation-play-state: paused;
  }

  .star29:hover {
  animation-play-state: running;
  }

  @keyframes star29 {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
  }

.star30{
  background: url('../img/star30.svg')no-repeat;
  width: 75px;
  height: 78px;
  display: block;
  animation: star28 10s linear infinite;
  animation-play-state: paused;
  }

  .star30:hover {
  animation-play-state: running;
  }

.star31{
  background: url('../img/star31.svg')no-repeat;
  width: 50px;
  height: 50px;
  margin-top: 515px;
  margin-left: 175px;
  display: block;
  animation: star29 10s linear infinite;
  animation-play-state: paused;
  }

  .star31:hover {
  animation-play-state: running;
  }

.star32{
  background: url('../img/star32.svg')no-repeat;
  width: 108px;
  height: 110px;
  margin-top: 160px;
  display: block;
  animation: star29 10s linear infinite;
  animation-play-state: paused;
  }

  .star32:hover {
  animation-play-state: running;
  }4

  @keyframes star32 {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(-180deg);}
    100% {transform: rotate(-360deg);}
  }

.star33{
  background: url('../img/star33.svg')no-repeat;
  width: 50px;
  height: 52px;
  margin-top: 587px;
  display: block;
  animation: star29 10s linear infinite;
  animation-play-state: paused;
  }

  .star33:hover {
  animation-play-state: running;
  }

  @keyframes star33 {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(-180deg);}
    100% {transform: rotate(-360deg);}
  }
