@import "reset.css";
@import "content.css";
@import "stars.css";
@import "responsive.css";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
/*font-family: 'Comfortaa', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
/*font-family: 'Manrope', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap')
